.pag-home{
  color: var(--light-text-color);
  background-color: var(--home-bg-color);
}

.pag-home section{
  margin-top: 2.5em;
}

.title-home, .subtitle-home{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.title-home{
  color: #e0dfdc;
  font-size: 80px;
  letter-spacing: .1em;
  line-height: .6;
  margin-top: .5em;
}

.title-home small{
  font-size: 40px;
}

.subtitle-home{
  font-size: 20px;
  margin-bottom: 1em;
}
