@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root{
  --tab-width: 35px;
  --tab-max-width: calc(100% - (var(--tab-width) * 4));

  --light-text-color: #FFFFFF;
  --dark-text-color: #777474;

  --home-bg-color: #333;
  --work-bg-color: #6e8298;
  --study-bg-color: #d1fff5;
  --ability-bg-color: #FCF3CA;
  --contact-bg-color: #EF7B7B;

  --card-bg-front: #EED6C4;
  --work-card-bg-back: #E8D0B3;
  --study-card-bg-front: #6B4F4F;
  --study-card-bg-back: #483434;
  --ability-card-bg-front: #693C72;
  --ability-card-bg-back: #512D6D;
}

@media screen and (min-width: 992px) {
  body{ z-index: -1; }
}


#list-home, #list-work, #list-study, #list-ability, #list-contact { left: 0; }

h1, h2{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

ul, p, h3, h5{
  font-family: 'Comfortaa', cursive;

}

/*a{
  font-family: 'Comfortaa', cursive; 
  font-size: 14px;
  }*/

a { text-decoration: none; }

.container-form{
  background-color: #7EB5A6;
}