@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root{
  --tab-width: 35px;
  --tab-max-width: calc(100% - (var(--tab-width) * 4));

  --home-bg-color: #333;

  --work-bg-color: #C4BDFA;
  --study-bg-color: #CCF6C8;
  --ability-bg-color: #fce0bd;
  --contact-bg-color: #d4c6d4;

  --light-text-color: #FFFFFF;
  --dark-text-color: #777474;

}

body{ z-index: -1; }

h1, h2{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

ul, p, h3{ font-family: 'Comfortaa', cursive; }

/*a{
  font-family: 'Comfortaa', cursive; 
  font-size: 14px;
  }*/

a { text-decoration: none; }
