@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.d-flex-home{
  background-image: linear-gradient(to bottom, #eaedf0 0%, #ffffff 100%);
}

.d-flex-work{
  background-color: #C4BDFA;
}


.d-flex-study{
  background-color: #CCF6C8;
}


.d-flex-ability{
  background-color: #d4c6d4;
}

.d-flex-contact{
  background-color: #f5f7bf;
}


/*h1{
  font-family: 'Londrina Shadow', cursive;
  font-size: 70px;
  /*text-shadow: 2px 1px 6px rgb(64, 160, 224);
  margin-top: 5px;
}*/

h1{
  font-family: "font-family: 'Yanone Kaffeesatz', sans-serif;"
  text-transform: uppercase;
  /*display: block;*/
  font-size: 50px;
  color: #eaedf0;
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #ffffff;
  font-weight: bold;
  letter-spacing: -5px;
  text-align: left;
  background: linear-gradient(to bottom, #ffffff 0%);
  /*position: absolute;*/
  padding: 10px 10px;
  top: 100%;
  left: 100%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: 150px;   
}

body,html {
  height: 100%;
} 

h5{
  font-family: 'Libre Barcode 39', cursive;
  font-size: 25px;
  line-height: 0.1;
  
}

h2{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
  line-height: 0.3;
  margin-bottom: 40px;
}

h3{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}



h4, h5, h6{
  font-family: 'Poiret One', cursive;
}

p, a{
  font-family: 'Bungee Outline', cursive;
  font-family: 'Comfortaa', cursive; 
  font-size: 10px; 
  }

a {
  text-decoration: none;
}

li{
  font-family: 'Bungee Outline', cursive;
  font-family: 'Comfortaa', cursive; 
  font-size: 10px;
}

.flip-container {
  background-color: transparent;
  /*width: 300px;*/
  height: 150px;
  border: 1px transparent;
  perspective: 1000px; 
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  
}
.flip-container:hover .card {
  transform: rotateY(180deg);   
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 2%;3px 3px 8px
  box-shadow:  #b3b0b0;
  
}
.front {
  background-color:#f7f8fc;
  color: rgb(39, 37, 37);
    
}
.back {
  background-color: #71789e;
  color: rgb(250, 241, 241);
  transform: rotateY(180deg);
}

.back-study{
  background-color: #6a9965;
  color: rgb(250, 241, 241);
  transform: rotateY(180deg);
}

.back-ability{
  background-color: #836c83;
  color: rgb(250, 241, 241);
  transform: rotateY(180deg);
}

