@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

h1{
  font-family: 'Poiret One', cursive;
  font-size: 40px;
}

h2{
  font-family: 'Poiret One', cursive;
  font-size: 20;
}

h3{
  font-family: 'Poiret One', cursive;
}

h4{
  font-family: 'Poiret One', cursive;
}

h5{
  font-family: 'Poiret One', cursive;
}

h6{
  font-family: 'Poiret One', cursive;
}

p{
  font-family: 'Darker Grotesque', sans-serif;
  }

li{
  font-family: 'Darker Grotesque', sans-serif;
}

.card{
  font-family: 'Darker Grotesque', sans-serif;
}

.card-body{
  background: "secondary bg-opacity-10"
}
