#list-work{
  background-color: var(--work-bg-color);
}

#list-work .back{ background-color: var(--work-card-bg-back); }

@media screen and (min-width: 992px) {
  #list-work{ left: var(--tab-width); }
}
